dload.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <!-- Root element -->
    <xs:element name="dload">
        <xs:annotation>
            <xs:documentation>DLoad configuration for downloading and managing binary artifacts</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <!-- Actions container -->
                <xs:element name="actions" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Container for download actions</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="download" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>Defines a software package to download</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="software" type="xs:string" use="required">
                                        <xs:annotation>
                                            <xs:documentation>Software identifier to download</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="version" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Version constraint using Composer-style syntax with optional feature suffixes
                                                and stability requirements. If not specified, latest stable version is used.

                                                Examples:
                                                • "^2.12.0" - Caret constraint
                                                • "~1.0.0" - Tilde constraint
                                                • "^2.12.0-feature" - With feature suffix
                                                • "^2.12.0@beta" - With explicit stability
                                                • "^2.12.0-hotfix@rc" - Combined feature and stability
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="version-path" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>Path to extract version from (e.g. composer.json@require.package/name)</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="extract-path" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>Custom path where to unpack downloaded asset</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="type">
                                        <xs:annotation>
                                            <xs:documentation>Download type determining how the asset is processed: binary (executable from archive), phar (PHP archive, no extraction), archive (extract all contents)</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="binary"/>
                                                <xs:enumeration value="archive"/>
                                                <xs:enumeration value="phar"/>
                                                <xs:enumeration value="velox"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="velox" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>Velox build action for creating custom RoadRunner binaries</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="plugin" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>Plugin to include in the RoadRunner build</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:attribute name="name" type="xs:string" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>Plugin name (required)</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="version" type="xs:string">
                                                    <xs:annotation>
                                                        <xs:documentation>Plugin version constraint</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="owner" type="xs:string">
                                                    <xs:annotation>
                                                        <xs:documentation>Repository owner/organization</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="repository" type="xs:string">
                                                    <xs:annotation>
                                                        <xs:documentation>Repository name</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="velox-version" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>Version constraint for velox build tool</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="golang-version" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>Required Go version constraint</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="binary-version" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>RoadRunner version to display in --version</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="config-file" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>Path to local velox.toml file</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Registry container -->
                <xs:element name="registry" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Custom software registry configuration</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="software" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>Software configuration entity</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="repository" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>Repository configuration</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:attribute name="type" type="xs:string" default="github">
                                                    <xs:annotation>
                                                        <xs:documentation>Repository type identifier</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="uri" type="xs:string" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>Repository URI identifier</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="asset-pattern" type="xs:string" default="/^.*$/">
                                                    <xs:annotation>
                                                        <xs:documentation>Regular expression pattern to match assets</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="binary" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>Binary configuration</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:attribute name="name" type="xs:string" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>Binary executable name</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="pattern" type="xs:string">
                                                    <xs:annotation>
                                                        <xs:documentation>Regular expression pattern to match binary file during extraction</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="version-command" type="xs:string">
                                                    <xs:annotation>
                                                        <xs:documentation>Command argument to check binary version (e.g. "--version")</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="file" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>File configuration</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:attribute name="pattern" type="xs:string" default="/^.*$/">
                                                    <xs:annotation>
                                                        <xs:documentation>Regular expression pattern to match files</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="rename" type="xs:string">
                                                    <xs:annotation>
                                                        <xs:documentation>Rename found file to this value with the same extension</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="extract-path" type="xs:string">
                                                    <xs:annotation>
                                                        <xs:documentation>Directory where to extract files</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string" use="required">
                                        <xs:annotation>
                                            <xs:documentation>Software package name</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="alias" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>CLI command alias</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="homepage" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>Official software homepage URL</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="description" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>Short description of the software</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="overwrite" type="xs:boolean" default="false">
                            <xs:annotation>
                                <xs:documentation>Replace the built-in software collection with custom ones</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="temp-dir" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Temporary directory for downloads</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
